.main-body {
  background: rgb(74, 173, 173);
  background: linear-gradient(
    9deg,
    rgba(74, 173, 173, 1) 13%,
    rgba(146, 193, 193, 1) 40%,
    rgba(21, 66, 66, 1) 98%
  );
}

.blog-col {
  transition: all 0.4s ease-in-out;
  border-radius: 5%;
}
.blog-col:hover {
  transform: scale(1.1);
}
